table {
  background-color: rgb(221, 221, 221);
  box-shadow: black;
}
table,
th,
td {
  border: 1px solid black;
}
.hidden {
  display: none;
}
.victory {
  background-color: rgb(122, 248, 132);
}
.defeat {
  background-color: rgb(252, 105, 105);
}
